**/__pycache__
**/*~
**/#*#
**/BUILD
**/build
**/BUILD_DBG
build/*
lib/**
third_party/**
*.pyc
**/src/input_storage/*.f*
**/src/input_storage/*.h
**/src/input_storage/*.cpp
**/src/input_storage/*.xml
**/src/input_storage/component.py
oprule/lib/parser/op_rule_tab.cpp.rule
oprule/lib/parser/op_rule_tab.cpp
oprule/lib/parser/op_rule.cpp.rule
oprule/lib/parser/op_rule.cpp
oprule/lib/parser/op_rule.output
input_storage/example/input_storage_envvar.cpp
input_storage/example/input_storage_channel.h
input_storage/example/input_storage_channel.cpp
input_storage/example/input_storage.h
input_storage/example/input_state_map.cpp
input_storage/example/envvar_input_storage.fi
input_storage/example/component.py
input_storage/example/channel_input_storage.fi
input_storage/example/buffer_actions.cpp
dsm2/src/common/version.fi
dsm2/test_hdf_tidefile_fortran/test_hdf_tidefile_fortran.u2d
dsm2/test_hdf_tidefile_fortran/test_hdf_tidefile_fortran.f90
dsm2/test_hdf_tidefile_fortran/dsetf.h5
dsm2/test_hdf_tidefile_fortran/ReadMe.txt
dsm2/test_hdf_tidefile_fortran/Debug/vc140.pdb
dsm2/test_hdf_tidefile_fortran/Debug/test_hdf_tidefile_fortran.pdb
dsm2/test_hdf_tidefile_fortran/Debug/test_hdf_tidefile_fortran.obj
dsm2/test_hdf_tidefile_fortran/Debug/test_hdf_tidefile_fortran.exe.intermediate.manifest
input_storage/test/buffer_actions.cpp
input_storage/src/table_component.pyc
input_storage/src/generate_input_storage.pyc
oprule/lib/parser/op_rule_tab.h
lib/heclib_vs14_c2016.lib
lib/heclib_vs14_c2014.lib
input_storage/test/xsect_input_storage.fi
input_storage/test/userDefineLangTemplate.xml
input_storage/test/text_parser.cpp
input_storage/test/input_storage_xsect.h
input_storage/test/input_storage_xsect.cpp
input_storage/test/input_storage_envvar.cpp
input_storage/test/input_storage_channel.h
input_storage/test/input_storage_channel.cpp
input_storage/test/input_storage.h
input_storage/test/input_state_map.cpp
input_storage/test/envvar_input_storage.fi
input_storage/test/component.py
input_storage/test/channel_input_storage.fi
oprule/ConsoleApplication1/ConsoleApplication1.vcxproj.user
oprule/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
oprule/ConsoleApplication1/ConsoleApplication1.vcxproj
oprule/ConsoleApplication1/ConsoleApplication1.cpp
lib/oprule_vs9_mtd.lib
lib/oprule_vs9_mt.lib
lib/oprule_vs14_mtd.lib
lib/oprule_vs14_mt.lib
dsm2/test_hdf_tidefile_fortran/test_hdf_tidefile_fortran.vfproj
input_storage/example/userDefineLangTemplate.xml
input_storage/example/text_parser.cpp
input_storage/example/input_storage_xsect.h
input_storage/example/input_storage_xsect.cpp
lib/oprule_parser_vs9_mt.lib
lib/oprule_parser_vs14_mtd.lib
lib/oprule_parser_vs14_mt.lib
lib/input_storage_vs9_mtd.lib
lib/input_storage_vs9_mt.lib
lib/input_storage_vs14_mtd.lib
lib/input_storage_vs14_mt.lib
lib/heclib_vs14_stdcall_debug.lib
input_storage/test/input_storage_fortran.f90
input_storage/test/input_storage_envvar.h
input_storage/example/input_storage_fortran.f90
input_storage/example/input_storage_envvar.h
lib/oprule_parser_vs9_mtd.lib
input_storage/example/xsect_input_storage.fi

# Build temp files
build.log
build.out

# VS Code
*.code-workspace
.vscode/
