.plot{
	margin: 1em 1em 1em 1em;
}

#note{
	color: blue;
}

#assumptions{
	color: olive;
	font-style: italic;
}

table.alt-highlight  {
	border: 1px #333333 solid;
}

table.alt-highlight  td {
	color: black;
}

table.alt-highlight caption{
	background-color: lightGray;
	font-size: x-large;
}

table.alt-highlight tr.header td {
	border-bottom: 4px black solid;
	font-size:   small;
	font-weight: bold;
}

table.alt-highlight  tr td {
	text-align: right;
}

table.alt-highlight  tr.d0 td {
	background-color: #EEFFFF;
}

table.alt-highlight  tr.d1 td {
	background-color: #66FFFF;
}

table.alt-highlight tr > td:first-child{
	background-color: #FFFFFF;
	font-style: bold;
	font-weight: bold;
	border-right: 1px solid #000000;
}

table.alt-highlight tr td.large-diff{
	color: red;
	background-color:black;
	font-weight: bold;
}

table.alt-highlight td.timewindow{
	text-align: center;
	color: green;
	font-size:large;
	border-bottom: 2px green solid;
	border-right: 2px green solid;
}

table.alt-highlight colgroup col.bordered{
	border-left: 2px black solid;
	border-right: 2px black solid;
}
